body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.08rem;
}

.header_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header_layout nav a {
    margin-left: 1rem;
}

main {
    flex-grow: 1;
    padding: 1rem 5rem;
}

footer {
    padding: 0.5rem;
    background-color: yellow;
}
footer p {
    text-align: center;
    font-size: 0.8rem;
}


.main__article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2rem;
    margin: 3rem 8rem;
}

.main__article_card {
    cursor: pointer;
    height: 250px;
    padding: 0.5rem;
    box-shadow: 0px 0.2px 3px 0.2px rgba(0, 0, 0, 0.6);
    transition: ease 0.7s;
} .main__article_card:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 10px 0.2px;
}
.article__card_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article__card_img {
    object-fit: contain;
    height: 8rem;
    width: 100%;
}
.article__card_price {
    text-align: center;
}




.main__article_detail {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 0.3fr;
    grid-gap: 2rem;
    grid-template-areas: 
    ". ."
    "a a"; 
    margin: 3rem 8rem;
}
.grid_a { grid-area: a; }

.main__article_detail img {
    object-fit: contain;
    height: 400px;
    width: 400px;
}



.hide {
    display: none;
}






.carrito__link {
    color: royalblue;
    text-decoration: underline;
}




.main__article_checkout, .main__article_seguimiento {
    text-align: center;
    background-color: rgb(236, 251, 99);
    padding: 1rem 2rem 2rem;
    margin: 2rem 15rem;
    border-radius: 1rem;
}

.checkout__form > div, .seguimiento__form > div {
    margin: 2rem;
}
.checkout__form > div > label, .seguimiento__form > div > label {
    display: block;
    margin: 0.5rem;
}
.checkout__form > div > input, .seguimiento__form > div > input {
    padding: 0.5rem;
    border: none;
    outline: 1px black solid;
    border-bottom: 2px solid black;
}
.checkout__form > button, .seguimiento__form > button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: rgba(250, 253, 66, 0.728);
    border: 1px solid black;
}